<td-layout #layout>
  <td-navigation-drawer flex sidenavTitle="MoRide">
    <mat-nav-list>
      <a *ngIf="appService.isSignedIn()" mat-list-item [routerLink]="['/rides']" (click)="layout.close()" routerLinkActive="nav-active">
        <div *ngIf="!appService.isSignedIn()"></div>
        <mat-icon>directions_car</mat-icon>
        Rides
        </a>
    </mat-nav-list>
  </td-navigation-drawer>
  <td-layout-nav toolbarTitle="MoRide" navigationRoute="/">
    <div id="googlesignin" class="g-signin2" data-onsuccess="onSignIn"

    ></div>
    <button id="sign-out-button" onclick="signOut();" style="background-color: white;
    white-space:nowrap;
    width: 120px;
    height: 17px;
    border-style: hidden;
    color: grey;"
            routerLink="/"

    >Sign out</button>
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </td-layout-nav>
</td-layout>

